
params {
    config_profile_contact     = "Paolo Cozzi (@bunop)"
    config_profile_description = "nf-core/fetchngs IBBA profile provided by nf-core/configs"
}

process {
    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 4.GB * task.attempt }
    }

    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 4.GB  * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 4     * task.attempt }
        memory = { 8.GB  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 8      * task.attempt }
        memory = { 16.GB  * task.attempt }
    }

    withName: "SRA_IDS_TO_RUNINFO|SRA_RUNINFO_TO_FTP" {
        executor    = "local"
    }

    withName: "SRA_FASTQ_FTP" {
        container   = null
        time        = null
    }

    withName: "SRATOOLS_PREFETCH" {
        ext.args    = "--max-size u"
        time        = null
    }

    withName: "SRATOOLS_FASTERQDUMP" {
        time        = null
    }
}

executor {
    $slurm {
        queueSize = 4
        pollInterval = '30sec'
    }
}
